/* Điều chỉnh navbar */
#navbar {
    transition: top 0.3s;
  }
.mau-nen-navbar-1 {
   background-color: rgb(255, 255, 255) !important;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

  }

  /* Căn chỉnh icon */
  .user-menu-container {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .nav-icon {
    font-size: 1.4rem;
    color: black;
    text-decoration: none;
  }
  
  .nav-icon:hover {
    color: gray;
  }
  
 /* Avatar */
.user-icon {
    width: 3.6rem;   
    height: 3.4rem;  /* Đặt chiều cao bằng với chiều rộng để tạo hình vuông */
    border-radius: 10px; /* Nếu muốn viền bo nhẹ, có thể dùng 5px - 10px */
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Avatar image */
  .user-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  /* Dropdown menu */
  .user-dropdown {
    position: absolute;
    right: 10px;
    top: 60px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
  }
  
  .user-dropdown a {
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
  }
  
  .user-dropdown a:hover {
    background: #f1f1f1;
  }
  
  .user-dropdown hr {
    margin: 10px 0;
    border: none;
    height: 1px;
    background: #ddd;
  }
  